<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.tealeaf.pmset</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/tealeaf/Code_Local/GitHub/launchd/pmset.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>1</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/tealeaf/Code_Local/launchd_pmset_output.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/tealeaf/Code_Local/launchd_pmset_error.log</string>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
